{% extends 'ecom/homebase.html' %}
{% load static %}
{% block content %}
<!-- <br><br><br> -->
<!-- <img src="{% static "images/logout_img.png" %}"  style="width:800px; height:100px; padding-left:400px;"> -->
<!-- 
<center>
    <h2>You've logged out successfully!</h2>
</center> -->

<div class="backG" style="color: aliceblue; text-align: center; justify-content: center; align-items: center; display: flex; width: 100%; height: 500px; background-image: linear-gradient(rgba(0, 39, 39, 0.638), rgba(0, 20, 19, 0.856)), url(static/pics/j.jpg); background-size: 100%; background-repeat: no-repeat;">
    <h1>You've logged out successfully!</h1>
</div>



<!-- <br><br><br><br><br>
<br><br><br><br><br>
<br><br><br> -->

{% endblock content %}
